.form-container {
  padding: 0 2rem;
  margin-bottom: 1.8rem;
  background-color: $--Very-Dark-Desaturated-Blue;
  border-radius: 0.8rem;

  @include breakpoint(tabletUp) {
    margin-bottom: 2.5rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  min-width: 20px;
  height: 20px;
  background-color: $--Very-Dark-Grayish-Blue;
  border-radius: 50%;
  position: relative;

  &::after {
    content: '';
    width: 90%;
    height: 90%;
    background: $--Very-Dark-Desaturated-Blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.todo-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0 15px 12px;
  font: inherit;
  font-size: 1.4rem;
  color: $--Dark-Grayish-Blue;
  caret-color: hsl(220, 98%, 61%);
  // margin-left: 1.2rem;

  @include breakpoint(tabletUp) {
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
