.form-container {
  margin-bottom: 2.5rem;

  background-color: $--Very-Dark-Desaturated-Blue;
  padding: 0 2rem;
  border-radius: 0.8rem;
  // margin-bottom: 18px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  min-width: 20px;
  height: 20px;
  background-color: $--Very-Dark-Grayish-Blue;
  border-radius: 50%;
  position: relative;

  &::after {
    content: '';
    width: 90%;
    height: 90%;
    background: $--Very-Dark-Desaturated-Blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.todo-input {
  //* for desktop
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  //
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0 15px 12px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  font: inherit;
  font-size: 1.8rem;
  // font-size: inherit;
  // font-size: 1.4rem;
  color: $--Dark-Grayish-Blue;
  caret-color: hsl(220, 98%, 61%);
}
