.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  // font-size: 1.8rem;

  @include breakpoint(tabletUp) {
    padding-top: 7.5rem;
    font-size: 2.7rem;
  }
}

.header-title {
  font-size: 1.8rem;
  @include breakpoint(tabletUp) {
    font-size: 2.7rem;
  }
}

.sun-icon {
  width: 20px;
  height: 20px;
  background: url('./images/icon-sun.svg') no-repeat center / contain;
}

.light .sun-icon {
  background: url('./images/icon-moon.svg') no-repeat center / contain;
}

// .moon-icon {
//   width: 20px;
//   height: 20px;
//   background: url('./images/icon-moon.svg') no-repeat center / contain;
// }
